
/**
 * Fix user-agent
 */

 * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /**
   * Canvas
   */
  
  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }
  
  .colors {
    position: fixed;
    z-index: 2;
    margin-top: 20px;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }


  #message-container {
    width: 15%;
    max-width: 1200px;
    float: right; 
    margin-right: 15px; 
    margin-top: 10px;

  }

  #message-container div {
    background-color: #CCC;
    padding: 5px;
       
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;

  }

  #btnClear {
    position: fixed;
    float: right;
    z-index: 3;
  }
